.book-container .add-button {
    float: right;
}

.book-container .list table tr {
    cursor: pointer;
    z-index: -1;
}

.book-container .list table .edit-button {
    margin-right: 10px;
    z-index: 1;
}